apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "kube-node-ready.fullname" . }}-controller-leader-election
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "kube-node-ready.labels" . | nindent 4 }}
    app.kubernetes.io/component: controller
rules:
  # Leader election requires creating and updating leases
  - apiGroups:
      - coordination.k8s.io
    resources:
      - leases
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
  # For recording events about leader election
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - create
      - patch
